@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.backgroundimage {
    width: 100%;
    min-height: 100vh;
    background-image: url(Image.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 1000;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.logo-menu {
    font-size: 24px;
    font-weight: 900;
    text-align: left !important;
    align-self: flex-start;
    color: #00c6ff;
    text-shadow: 0 0 10px rgba(0, 198, 255, 0.6);
    letter-spacing: 2px;
}

.menu-items a {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 1px;
}

.menu-items a:hover {
    color: #00c6ff;
    text-shadow: 0 0 10px #00c6ff;
}


.mainbox {
    width: 90%;
    max-width: 800px;
    min-height: 200px;
    height: auto;
    padding: 100px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 5px solid rgba(80, 64, 64, 0.663) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}


.workflow-box {
    width: 90%;
    max-width: 800px;
    min-height: 350px;
    height: auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 5px solid rgba(80, 64, 64, 0.678)!important ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
}


.mainbox h1 {
    font-weight: 800;
    font-size: 55px; 
    text-transform: uppercase;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.mainbox p {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
}

.workflow-box h2 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 28px;
    color: #00c6ff;
}

.workflow-box p {
    margin: 15px 0;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.05);
    border-left: 5px solid #00c6ff;
    font-size: 16px;
    border-radius: 0px 50px px 0px;
}


.background {
    background-color: #0B1220;
    color: #ffffff;
    padding-top: 50px;
}

.toolbox {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.tooldescription {
    
    width: 320px; 
    background-color: #0d1b2a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tooldescription:hover {
    transform: translateY(-20px); 
    box-shadow: 0 10px 50px rgba(0, 198, 255, 0.2);
    border-color: #00c6ff;
}

.tooldescription h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #00c6ff;
}

.tooldescription p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #ccc;
    line-height: 1.5;
}

.tooldescription a {
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg, #00c6ff, #0072ff);
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
    align-self: center;
}

.tooldescription a:hover {
    box-shadow: 0 0 15px rgba(0, 198, 255, 0.5);
    transform: scale(1.2);
}


footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: #0B1220;
    padding: 30px 0;
    font-size: 14px;
}
